<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <email_flow>
                <enable>0</enable>
                <authentication>0</authentication>
                <debug>0</debug>
                <data_optimization_enable>1</data_optimization_enable>
                <flow_sending_mode>0</flow_sending_mode>
            </email_flow>
        </system>
    </default>
</config>
